@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rochester&display=swap');

.settings {
    position: fixed;
    top: 20%;
    left: 2%;
    width: 4vh;
    height: 4vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6vh;
    border-radius: 1vh;
    z-index: 3;
}

.settingsContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

.settingContent {
    width: 30vh;
    height: 30vh;
    background-color: #fff;
    position: fixed;
    top: 25%;
    left: 2%;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingContent h1{
    font-size: 2vh;
    margin-top: 2vh;
    font-family: Gotham;
}

.settingContent p {
    font-size: 2vh;
    margin-top: 5vh;
    font-family: Gotham;
}

.settingsBackground {
    background-color: #00000038;
    width: 100%;
    height: 100vh;
}

#date_page_background {
    width: 100%;
    height: 80vh;
    background-image: url('/assets/images/smbg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: -1;
}

#date_page {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.dateTextContainer {
    text-align: center;
    font-size: 4vh;
    transform: rotate(-10deg);
    margin-top: 10vh;
    z-index: 1;
}


#detail_page {
    background-image: url('/assets/images/detailsBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #19216e;
}

#detail_page h2 {
    font-size: 3vh;
    font-family: 'Rochester', cursive;
    font-weight: 200;
}

#detail_page h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5vh;
    font-weight: 900;
}

#detail_page p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5vh;
    font-weight: 600;
    text-decoration: underline;
}

#detail_page span {
    padding: 2vh;
    font-size: 2.5vh;
    font-family: 'Dancing Script', cursive;
    width: 70%;
    text-align: center;
    font-weight: 500;
}

.locationButton {
    width: 50%;
    height: 5vh;
    border-radius: 1vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    color: white;
    background-color: #000;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2), 0 1vh 2vh rgba(0, 0, 0, 0.14), 0 1.5vh 3vh rgba(0, 0, 0, 0.12);
}

.photoFrame {
    margin-top: 7vh;
    width: 15vh;
    height: 15vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2), 0 1vh 2vh rgba(0, 0, 0, 0.14), 0 1.5vh 3vh rgba(0, 0, 0, 0.12);
}

.photoFrame img {
    width: 100%;
    height: 100%;
}

.CountDownContainer {
    width: 90%;
    height: 20vh;
    margin-top: 8vh;
    display: flex;
}

.timeContainers {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Gotham;
    font-size: 2vh;
}

.timeContainers h2 {
    margin-top: 2vh;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: rgb(110, 56, 235);
    color: #fff;
    font-family: Gotham;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    font-size: 3vh;
}

.footer h2 {
    font-size: 2vh;
}

.socialMediaContainer {
    display: flex;
    margin-top: 7vh;
    font-size: 3vh;
}

.socialMediaContainer i {
    margin-inline: 3vh;
}

.languageContainer {
    width: 85%;
    height: 6vh;
    border: 0.1vh solid #000;
    margin-top: 8vh;
    display: flex;
}

.tamil, .english {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-family: Gotham;
    user-select: none;
}