<div class="settings" (click)="togglesettings()">
  <i class="bi bi-gear"></i>
</div>
<div class="settingsContainer" *ngIf="isSettingsContainer">
  <div class="settingsBackground" (click)="isSettingsContainer = false"></div>
  <div class="settingContent">
    <h1>Settings</h1>
    <div class="languageContainer">
      <div class="tamil" [ngStyle]="isTamil ? {'background-color': 'black', 'color': 'white'} : {'background-color': 'white', 'color': 'black'}" (click)="toggleTamil()">தமிழ்</div>

      <div class="english" [ngStyle]="!isTamil ? {'background-color': 'black', 'color': 'white'} : {'background-color': 'white', 'color': 'black'}" (click)="toggleEnglish()">English</div>
    </div>
  </div>
</div>
<div id="date_page_background"></div>
<div id="date_page" (scroll)="onScroll($event)">
  <div class="dateTextContainer">
    <p style="font-size: 5.5vh;">Save</p>
    <p style="font-size: 4.7vh;">The Date</p>
    <p style="font-size: 4vh;">-25-01-24-</p>
  </div>
  <div class="CountDownContainer">
    <div class="timeContainers">
      <p>DAYS</p>
      <h2>{{ countdown.days }}</h2>
    </div>
    <div class="timeContainers">
      <p>HOURS</p>
      <h2>{{ countdown.hours }}</h2>
    </div>
    <div class="timeContainers">
      <P>MINUTES</P>
      <h2>{{ countdown.minutes }}</h2>
    </div>
    <div class="timeContainers">
      <P>SECONDS</P>
      <h2>{{ countdown.seconds }}</h2>
    </div>
  </div>
</div>
<div id="detail_page">
  <h2>Thiru Jeyakumar</h2>
  <h2>and Nirmaladevi's</h2>
  <h1 style="margin-top: 4vh;">House Warming</h1>
  <h1>Ceremony</h1>
  <span style="margin-top: 10vh; font-family: 'Rochester', cursive !important;"> at 07:00 am</span>
  <p style="margin-top: 2.5vh;">Venue</p>
  <span style="font-family: 'Rochester', cursive !important;">Sungurampatti, ( air port road ) Thirumangalam,
    Madurai-625706</span>
  <div class="locationButton" (click)="navigateToLocation()">
    Location &nbsp; <i class="bi bi-geo-alt-fill"></i>
  </div>
</div>
<div class="footer">
  <h4>Vasanth E-Invitations</h4>
  <div style="display: flex;align-items: center; margin-top: 2vh;">
    <i class="bi bi-geo-alt" style="margin-right: 1vh;"></i>
    <h2>Thirumangalm, Madurai</h2>
  </div>
  <div style="display: flex;align-items: center; margin-top: 2vh;" (click)="openDialer()">
    <i class="bi bi-telephone" style="margin-right: 1vh;"></i>
    <h2>9360733323</h2>
  </div>
  <div class="socialMediaContainer">

    <i class="bi bi-instagram" (click)="openInstagram()"></i>
    <i class="bi bi-whatsapp" (click)="openWhatsApp()"></i>
  </div>
</div>