<div id="detail_page" >
  <h1 style="margin-top: 3vh; font-family: Gotham;">JK சந்திரன்</h1>
  <h2 style=" margin-block:1.5vh; font-family: Gotham; font-size: 2vh; font-weight: bold;">இல்ல</h2>
  <h1>புதுமனை புகு</h1>
  <h1>விழா</h1>
  <div class="locationButton" (click)="navigateToLocation()">
    Location &nbsp; <i class="bi bi-geo-alt-fill"></i>
  </div></div>
<div class="footer">
  <h4>Vasanth E-Invitations</h4>
  <div style="display: flex;align-items: center; margin-top: 2vh;">
    <i class="bi bi-geo-alt" style="margin-right: 1vh;"></i>
    <h2>Thirumangalm, Madurai</h2>
  </div>
  <div style="display: flex;align-items: center; margin-top: 2vh;" (click)="openDialer()">
    <i class="bi bi-telephone" style="margin-right: 1vh;"></i>
    <h2>9360733323</h2>
  </div>
  <div class="socialMediaContainer">

    <i class="bi bi-instagram" (click)="openInstagram()"></i>
    <i class="bi bi-whatsapp" (click)="openWhatsApp()"></i>
  </div>
</div>